language: node_js  #设置语言

node_js: "lts/*"  #设置相应的版本

install:
  - yarn  #安装hexo及插件

before_script:
  - cd themes/sagiri
  - yarn
  - cd ../..

script:
  - hexo clean  #清除
  - hexo g  #生成

after_script:
  - cd ./public
  - git init
  - git config user.name "EGo14T"  #修改name
  - git config user.email "974412906@qq.com"  #修改email
  - git add .
  - git commit -m "Update docs with TRAVIS-CI"
  - git push --force --quiet "https://${EGo1ST}@${GH_REF}" master:master  #GH_TOKEN是在Travis中配置token的名称

branches:
  only:
    - hexo  #只监测hexo分支，hexo是我的分支的名称，可根据自己情况设置
env:
 global:        
   - GH_REF: github.com/EGo14T/ego14t.github.io.git  #设置GH_REF，注意更改yourname

cache:
  yarn: true
  directories:
    - node_modules